body {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 150px 1fr;
}
.dashboardNav {
  background-color: rgb(0, 174, 255);
  color: white;
  grid-column: 1;
  grid-row: 1 / 3;
}
.userInput {
  grid-column: 2;
  grid-row: 1;
}
.contentCont {
  background-color: rgb(155, 154, 154);
  grid-column: 2;
  grid-row: 2 / 3;
}
